*{
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#navbar{
    height: 60px;
    background-color: black;
}
button{
    background-color: #f08804;
}
#logo{
    color: #f08804;
    font-size: 25px;
}
a{
    margin-right: 200px;
    text-decoration: none;
}