.one {
    height: 40px;
    width: 40px;
    background-color: rgba(255, 0, 0, 0.25);
}

.two {
    height: 40px;
    width: 40px;
    background-color: rgba(255, 0, 0, 0.5);
}

.three {
    height: 40px;
    width: 40px;
    background-color: rgba(255, 0, 0, 0.75);
}

.foue {
    height: 40px;
    width: 40px;
    background-color: rgba(255, 0, 0, 1);
}
div{
    margin: 2px;
}