.loder{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 8px solid red;
    margin: auto;
    border-top: 8px solid blue;
    animation: spinanimation 1s infinite normal ;
}

@keyframes spinanimation {
  /* 0 / 8 = 0% */
  0% {
    transform: rotate(0deg);
  }
  
  /* 1 / 8 = 12.5% */
  12.5% {
    transform: rotate(45deg);
  }
  
  /* 2 / 8 = 25% */
  25% {
    transform: rotate(90deg);
  }
  
  /* 3 / 8 = 37.5% */
  37.5% {
    transform: rotate(135deg);
  }
  
  /* 4 / 8 = 50% */
  50% {
    transform: rotate(180deg);
  }
  
  /* 5 / 8 = 62.5% */
  62.5% {
    transform: rotate(225deg);
  }
  
  /* 6 / 8 = 75% */
  75% {
    transform: rotate(270deg);
  }
  
  /* 7 / 8 = 87.5% */
  87.5% {
    transform: rotate(315deg);
  }
  
  /* 8 / 8 = 100% */
  100% {
    transform: rotate(360deg);
  }
}