div{
    height: 200px;
    width: 200px;
    background-color: red;
    border: 2px dotted blue;
    transition: all 2s steps(5) 1s;
    position:absolute;
    left: 100px;
    top: 100px;
    rotate: z 180deg;

}
div:hover{
    background-color: blue;
    font-size: 20px;
    cursor: pointer;
    transform: rotate(360deg);
}
div:active{
    background-color: pink;
}

/* 5:00:00 */